@-webkit-keyframes flipTop {
  0% {
    -webkit-transform: perspective(280px) rotateX(0deg); }

  100% {
    -webkit-transform: perspective(280px) rotateX(-90deg); } }

@-webkit-keyframes flipBottom {
  0% {
    -webkit-transform: perspective(280px) rotateX(90deg); }

  100% {
    -webkit-transform: perspective(280px) rotateX(0deg); } }

.flipTimer {
  color: #FFF;
  font-size: 140px;
  line-height: 140px;
  height: 140px; }
  .flipTimer .seconds {
    height: 100%;
    position: relative; }
  .flipTimer .digit-set:last-child {
    margin-left: 72px; }
  .flipTimer .digit {
    position: absolute;
    height: 100%; }
    .flipTimer .digit > div {
      position: absolute;
      left: 0;
      overflow: hidden;
      height: 50%; }
      .flipTimer .digit > div .digit-wrap {
        background-color: #222; }
      .flipTimer .digit > div.digit-top {
        background-color: #000;
        top: 0;
        z-index: 0; }
      .flipTimer .digit > div.digit-bottom {
        bottom: 0;
        z-index: 0; }
        .flipTimer .digit > div.digit-bottom .digit-wrap {
          display: block;
          margin-top: -100%; }
    .flipTimer .digit.previous .digit-top {
      z-index: 2;
      -webkit-transform-origin: 50% 100%;
      -webkit-animation: flipTop 0.5s linear both; }
    .flipTimer .digit.previous .digit-bottom {
      z-index: 1; }
    .flipTimer .digit.active .digit-top {
      z-index: 1; }
    .flipTimer .digit.active .digit-bottom {
      z-index: 2;
      -webkit-transform-origin: 50% 0%;
      -webkit-animation: flipBottom 0.5s 0.5s linear both; }
