$height: 100px;
$perspective: $height*4;
$animSpeed: 0.3s;

@-webkit-keyframes flipTop {
  0% { -webkit-transform: perspective($perspective) rotateX(0deg); }
  100% { -webkit-transform: perspective($perspective) rotateX(-90deg); }
}

@-webkit-keyframes flipBottom {
  0% { -webkit-transform: perspective($perspective) rotateX(90deg); }
  100% { -webkit-transform: perspective($perspective) rotateX(0deg); }
}

.flipTimer {
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: $height * 0.9;
  font-weight: bold;
  line-height: $height;
  height: $height;

  .seconds,
  .minutes,
  .hours,
  .days {
    height: 100%;
    display: inline;
  }

  .digit-set {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    width: $height * 0.7;
    height: 100%;
    display: inline-block;
    position: relative;
    margin: 0 1px;
  }

  .digit {
    position: absolute;
    height: 100%;

    > div {
      position: absolute;
      left: 0;
      overflow: hidden;
      height: 50%;
      padding: 0 10px;

      &.digit-top {
        background-color: #333;
        border-bottom: 1px solid #333;
        box-sizing: border-box;
        top: 0;
        z-index: 0;
        border-radius: 10px 10px 0 0;

        &:before {
          content: "";
          box-shadow: inset 0 -10px 25px rgba(0,0,0,0.2);
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      &.digit-bottom {
        background-color: #333;
        bottom: 0;
        z-index:0;
        border-radius: 0 0 10px 10px;

        .digit-wrap {
          display: block;
          margin-top: -100%;
        }

        &:before {
          content: "";
          box-shadow: inset 0 10px 25px rgba(0,0,0,0.2);
          border-radius: 0 0 10px 10px;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    &.previous {
      .digit-top {
        z-index: 2;
        -webkit-transform-origin: 50% 100%;
        -webkit-animation: flipTop $animSpeed ease-in both;
      }

      .digit-bottom {
        z-index: 1;
      }
    }

    &.active {
      .digit-top {
        z-index: 1;
      }

      .digit-bottom {
        z-index: 2;
        -webkit-transform-origin: 50% 0%;
        -webkit-animation: flipBottom $animSpeed $animSpeed ease-out both;
      }
    }
  }
}
